@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form  method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="mb-3">
            <input type="file" name="file" class="form-control"/>
        </div>
        <div class="mb-3">
            <input type="submit" name="name" value="Upload file" class="btn btn-primary"/>
        </div>
        <span class="text-success">
            @ViewBag.Message
        </span>
    </form>
</div>
